* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

a {
    text-decoration: none;
    color: #E0E1DD;
    transition: .5s;
}

a:hover {
    color: #778DA9;
}

.mobile-menu {
    display: none;
    cursor: pointer;

    div {
        width: 32px;
        height: 2px;
        margin: 8px;
        background: #E0E1DD;
    }
}